.form {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  &__wrap {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    background: white;
    padding: 20px 60px;
    border-radius: 10px;
  }

  &__title {
    font-size: 24px;
    font-weight: bold;
    color: #5d5b8d;
  }

  &__subtitle {
    color: #5d5b8d;
  }

  label {
    width: 100%;
    position: relative;

    input {
      padding: 15px 10px 5px 10px;
      width: 100%;

      &:focus-visible {
        outline: none
      }
    }
  }

  &__error {
    position: absolute;
    left: 10px;
    top: -7px;
    font-size: 13px;
    color: #e74c3c;
  }
}

.form-reg {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 400px;
  position: relative;

  input {
    border: none;
    border-bottom: 1px solid #a7bcff;

    &::placeholder {
      color: rgb(175, 175, 175);
    }
  }

  button {
    background-color: #7b96ec;
    color: white;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 5px;
  }

  &__footer {
    color: #5d5b8d;
    font-size: 12px;

    div:nth-child(2) {
      margin-top: 5px;
    }

    a,
    span {
      font-weight: bold;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}