.form {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  &__wrap {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    background: white;
    padding: 20px 60px;
    border-radius: 10px;
  }
  &__title {
    font-size: 24px;
    font-weight: bold;
    color: #5d5b8d;
  }
  &__subtitle {
    color: #5d5b8d;
  }
}

.form-reg {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 400px;
  position: relative;

  input {
    padding: 15px;
    border: none;
    border-bottom: 1px solid #a7bcff;
    &::placeholder {
      color: rgb(175, 175, 175);
    }
  }

  &__input-file {
    display: flex;
    align-items: center;
    color: #8da4f1;
    cursor: pointer;
    gap: 10px;
    input {
      display: none;
    }

    img {
      object-fit: cover;
      aspect-ratio: 1/1;
      max-height: 45px;
    }
  }

  button {
    background-color: #7b96ec;
    color: white;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 5px;
  }

  &__footer {
    color: #5d5b8d;
    font-size: 12px;
  }
}
