.message-item {
  display: flex;
  gap: 20px;
  align-items: center;

  &__info {
    display: flex;
    flex-direction: column;
    color: gray;
    font-weight: 300;
    align-items: center;
    gap: 5px;
  }

  &__avatar {
    max-height: 40px;
    min-height: 40px;
  }

  &__time {
    font-size: 11px;
    color: #8d8d8d;
    cursor: default;
  }

  &__content {
    background: white;
    border-radius: 0px 10px 10px 10px;
    padding: 10px;
    overflow: hidden;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    p {
      word-wrap: break-word;
      text-align: end;
      white-space: pre-wrap;
    }

    img {
      width: 50%;
    }
  }

  &__img {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 5px;

    img {
      border-radius: 5px;
      object-fit: cover;
      max-width: 120px;
      min-width: 60px;
      width: auto;
      height: 70px;
      transition: 0.3s ease-in-out;
    }
  }

  &.owner {
    flex-direction: row-reverse;

    .message-item__content {
      background-color: #8da4f1;

      p {
        color: white;
      }
    }
  }
}