.chat-item {
  padding: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
  color: white;
  cursor: pointer;
  font-size: 15px;

  &:hover {
    transition: background-color 0.18s;
    background-color: #2f2d52;
  }

  &__right-side {
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow: hidden;
    max-width: 230px;
  }

  img {
    min-height: 45px;
    max-height: 45px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
  }

  &__name {
    font-weight: bold;
  }

  &__last-message {
    font-size: 14px;
    color: #ddddf7;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &.current-chat {
    background-color: #201e47;
  }
}
