.img-prev {
  position: relative;
  display: flex;
  align-items: center;

  &:hover {
    img {
      filter: brightness(50%);
    }

    .img-prev__remove {
      opacity: 1;
    }
  }

  img {
    border-radius: 5px;
    object-fit: cover;
    max-width: 120px;
    width: auto;
    height: 70px;
    transition: 0.3s ease-in-out;
  }

  &__remove {
    position: absolute;
    top: 2px;
    right: 2px;
    background: url(../../assets/img/close.svg) no-repeat;
    display: block;
    width: 20px;
    height: 20px;

    opacity: 0;
    transition: 0.45s ease;
    cursor: pointer;
  }
}
